<!-- <p>{{flag}}</p> -->
<div  [class]="'card'"  >
    <img [src]="flag" [alt]="commonName" [class]="'card-image'">
    <div [class]="'card-info'">
        <h2>{{commonName}}</h2>
        <div [class]="'info'"><strong [class]="'info-title'">Population:</strong>{{population}}</div>
        <div [class]="'info'"><strong [class]="'info-title'">Region:</strong>{{region}}</div>
        <div [class]="'info'"><strong [class]="'info-title'">Capital:</strong> {{capital}}</div>
    </div>
</div>
<!-- [ngStyle]="opacityStyle" -->
<!-- routerLink="/details/{{cca2}}" -->