.card{
    background-color: #ffffff;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 5px -2px #858585;
    display: block;
}

.card-image{
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
    height: 180px;
}

.card-info {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    border-radius: 0 0 5px 5px;
}

.info{
    font-weight: 300;
}

.info-title{
    font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
}