.grid{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    margin-top: 50px;
    height:70vh;
    overflow: auto;
}

.country-section{
    display: flex;
    gap: 25px;
}

::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    width: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #b3b3b3;
}


::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

@media only screen and (min-width: 740px) {
    .grid{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width: 1200px){
    .grid{
        grid-template-columns: auto auto auto;
        height:70vh;
    }
}