<div [class]="'country-section'">
    <app-favourties
    cdkDropList
     (cdkDropListDropped)="drop($event)"
     #favourtiesList="cdkDropList"

     ></app-favourties>
    <div [class]="'grid'" *ngIf="(countries$ | async) ; else noData" cdkDropList [cdkDropListConnectedTo]="[favourtiesList]">
        <app-countries-cards [class]="'app-countries-cards'" *ngFor="let country of countries$ | async; trackBy: ContryTraceBy" 
        [flag]="country.flags.svg"
        [commonName]="country.name.common"
        [population]="country.population.toLocaleString()"
        [region]="country.region"
        [capital]="country.capital ? country.capital.join() : 'No capital'"
        [cca2]="country.cca2"
        cdkDrag
        ></app-countries-cards>
    </div>
    <ng-template #noData> <div [ngStyle]="(themeValueElement$ | async)">Not Found</div> </ng-template>
    
</div>